 /**

  * Häfele Design System 1.0
  * By Wunderman Thompson Commerce
  *
  * GLOBAL NAMESPACE:
  *
  * hds:     Häfele Design System
  * 
  * CLASS PREFIXES
  *  
  * c-       Color





/*------------------------------------*\
  #HÄFELE STYLING
\*------------------------------------*/

/**
  * Atomic variables
  */

  $haefele-red: rgb(210, 10, 40);
  $grey: rgb(150, 150, 150);




.hds-btn__primary--small {
    background-color: $haefele-red;
    border: 5px solid green;
}


@grey: rgb(150, 150, 150);
@dark-grey: rgb(90, 90, 90);
@haefele-red: rgb(210, 10, 40);
@dark-red: rgb(140, 35, 50);
@black: rgb(0, 0, 0);
@white: rgb(255, 255, 255);
@medium-grey: rgb(124, 126, 129);
@silver-grey: rgb(217, 217, 217);
@light-grey: rgb(241, 241, 241);
@dimmed-white: rgb(252, 252, 252);
@error-orange: rgb(255, 78, 0);
@response-green: rgb(51, 156, 118);
@indication-yellow: rgb(230, 164, 0);
@white: rgb(255, 255, 255);
@dark-grey: rgb(90, 90, 90);
@haefele-red: rgb(210, 10, 40);
@gray: rgb(150, 150, 150);
@light-grey: rgb(241, 241, 241);