/*------------------------------------*\
  # PROTONS
\*------------------------------------*/

/* Primary Colours
  ========================================================================== */

$haefele-red: #d20a28;
$dark-red: #8c2332;
$grey: #969696;
$dark-grey: #5a5a5a;

$black: #000000;
$white: #ffffff;

/* Secondary Colours
    ========================================================================== */

$medium-grey: #7c7e81;
$silver-grey: #d9d9d9;
$light-grey: #f1f1f1;
$dimmed-white: #fcfcfc;

/* System Status
    ========================================================================== */

$error-orange: #ff4e00;
$response-green: #339c76;
$indication-yellow:#e6a400;

/* Gradients
    ========================================================================== */
@mixin gradient($top, $bottom) {
  background: -moz-linear-gradient($top, $bottom);
  background: -webkit-gradient($top, $bottom);
  background: -webkit-linear-gradient($top, $bottom);
  background: -o-linear-gradient($top, $bottom);
}

@mixin gradient-red() {
  @include gradient(#f00c2e, $haefele-red);
}

@mixin gradient-dark-red() {
  @include gradient(#bc2332, $dark-red);
}

@mixin gradient-grey() {
  @include gradient(#efefef, #d9d9d9);
}

@mixin gradient-dark-grey() {
  @include gradient(#727272, $dark-grey);
}

@mixin gradient-black() {
  @include gradient(#424242, #2a2a2a);
}

@mixin gradient-white() {
  @include gradient(#ffffff, #f5f5f5);
}

/* Global styles
    ========================================================================== */

* {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}
.hds {

  &-gradient {

    &__red {
      @include gradient(#f00c2e, $haefele-red);
    }

    &__dark-red {
      @include gradient(#bc2332, $dark-red);
    }

    &__grey {
      @include gradient(#efefef, #d9d9d9);
    }

    &__dark-grey {
      @include gradient(#727272, $dark-grey);
    }

    &__black {
      @include gradient(#424242, #2a2a2a);
    }

    &__white {
      @include gradient(#ffffff, #f5f5f5);
    }

  }


  /* Heading styles
    ========================================================================== */



  @mixin type-style($font-size, $line-height, $font-weight: normal) {
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    text-decoration: none;
  }

  @mixin text-link() {
    @include type-style(13px, normal);

    &:hover,
    &:active,
    &:focus {
      color: $haefele-red;
    }
  }

  &-heading {

    &__h1 {
      @include type-style(22px, 28px);

      /* Desktop */
      @media (min-width: 769px) {
        @include type-style(28px, 32px);
      }
    }

    &__h2 {
      @include type-style(18px, 24px);

      /* Desktop */
      @media (min-width: 769px) {
        @include type-style(20px, 24px);
      }
    }

    &__h3 {
      @include type-style(16px, 20px, bold);
    }

    &__h4 {
      @include type-style(16px, 20px);
    }
  }

  /* Copy styles
    ========================================================================== */

  &-copy {

    &__text {
      @include type-style(14px, 18px);
    }

    &__subline {
      @include type-style(12px, 16px);
    }

    &__seo {
      @include type-style(11px, 15px);
    }
  }

  /* Interface styles
    ========================================================================== */

  &-link {

    &__btn {
      @include type-style(15px, normal);

      &--bold {
        @include type-style(14px, normal, bold);
      }
    }

    &__text {
      @include type-style(13px, normal);
      color: $haefele-red;
      &:hover,
      &:active,
      &:focus {
        color: $dark-red;
        text-decoration: underline;
      }

      &--icon {
        color: $dark-grey;
        &:hover,
        &:active,
        &:focus {
          color: $haefele-red;
        }
      }
    }
    

  }

  /* Icons
    ========================================================================== */

  @mixin icon-style ($icon-name, $color: $dark-grey, $width: 20px, $height: $width, ) {
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: icon($icon-name, $color);
    width: $width;
    height: $height;
  }


&-icon {
  /* Sales */
  &__sales {
      @include icon-style(sales);
    &:hover {
      @include icon-style(sales, $dark-red);
    }

    &--small {
      @include icon-style(sales, $dark-grey, 16px);

      &:hover {
        @include icon-style(sales, $haefele-red, 16px);
      }
    }

    &--white {
      @include icon-style(sales, $white, 16px);

      &:hover {
        @include icon-style(sales, $white, 16px);
      }
    }
  }

  /* arrow-down-bold */
  &__arrow-down-bold {
    @include icon-style(arrow-down-bold);

    &:hover {
      @include icon-style(arrow-down-bold, $dark-red);
    }

    &--small {
      @include icon-style(arrow-down-bold, $dark-grey, 16px);

      &:hover {
        @include icon-style(arrow-down-bold, $haefele-red, 16px);
      }
    }
  }

  /* arrow-down-small */
  &__arrow-down-small {
    @include icon-style(arrow-down-small);

    &:hover {
      @include icon-style(arrow-down-small, $dark-red);
    }

    &--small {
      @include icon-style(arrow-down-small, $dark-grey, 16px);

      &:hover {
        @include icon-style(arrow-down-small, $haefele-red, 16px);
      }
    }
  }

  /* arrow-up-small */
  &__arrow-up-small {
    @include icon-style(arrow-up-small);

    &:hover {
      @include icon-style(arrow-up-small, $dark-red);
    }

    &--small {
      @include icon-style(arrow-up-small, $dark-grey, 16px);

      &:hover {
        @include icon-style(arrow-up-small, $haefele-red, 16px);
      }
    }
  }

  /* email */
  &__email {
    @include icon-style(email);

    &:hover {
      @include icon-style(email, $dark-red);
    }

    &--small {
      @include icon-style(email, $dark-grey, 16px);

      &:hover {
        @include icon-style(email, $haefele-red, 16px);
      }
    }
  }

  /* catalogue */
  &__catalogue {
    @include icon-style(catalogue);

    &:hover {
      @include icon-style(catalogue, $dark-red);
    }

    &--small {
      @include icon-style(catalogue, $dark-grey, 16px);

      &:hover {
        @include icon-style(catalogue, $haefele-red, 16px);
      }
    }
  }

  /* country */
  &__country {
    @include icon-style(country);

    &:hover {
      @include icon-style(country, $dark-red);
    }

    &--small {
      @include icon-style(country, $dark-grey, 16px);

      &:hover {
        @include icon-style(country, $haefele-red, 16px);
      }
    }
  }

  /* search */
  &__search {
    @include icon-style(search);

    &:hover {
      @include icon-style(search, $dark-red);
    }

    &--small {
      @include icon-style(search, $dark-grey, 16px);

      &:hover {
        @include icon-style(search, $haefele-red, 16px);
      }
    }
  }

  /* cart */
  &__cart {
    @include icon-style(cart);

    &:hover {
      @include icon-style(cart, $dark-red);
    }

    &--small {
      @include icon-style(cart, $dark-grey, 16px);

      &:hover {
        @include icon-style(cart, $haefele-red, 16px);
      }
    }
  }
  }


  /* Badges
    ========================================================================== */

    
    &-badge {

      /* Cart quantity indicator */
      &__cart-items {
        border-radius: 30px;
        line-height: 17px;
        width: auto;
        height: 15px;
        padding: 0px 4px;
        border: 1px solid $grey;
        background-color: $white;
        font-size: 12px;
        font-weight: bold;
        left: 27px;
        top: 3px;
        position: absolute;
      }
    }



   /* Branding
    ========================================================================== */

    &-logo {
      background-image: url(/Users/jvmeetelen/Documents/GitHub/Hafele-Frontify/components/Logo.svg);
      background-size: cover;
      width:150px;
      height:24px;
    }
  }

