/*------------------------------------*\
  # PROTONS
\*------------------------------------*/

/* Primary Colours
  ========================================================================== */

$haefele-red: #d20a28;
$dark-red: #8c2332;
$grey: #969696;
$dark-grey: #5a5a5a;

$black: #000000;
$white: #ffffff;

/* Secondary Colours
    ========================================================================== */

$medium-grey: #7c7e81;
$silver-grey: #d9d9d9;
$light-grey: #f1f1f1;
$dimmed-white: #fcfcfc;

/* System Status
    ========================================================================== */

$error-orange: #ff4e00;
$response-green: #339c76;
$indication-yellow:#e6a400;

/* Gradients
    ========================================================================== */
@mixin gradient($top, $bottom) {
  background: -moz-linear-gradient($top, $bottom);
  background: -webkit-gradient($top, $bottom);
  background: -webkit-linear-gradient($top, $bottom);
  background: -o-linear-gradient($top, $bottom);
}

@mixin gradient-red() {
  @include gradient(#f00c2e, $haefele-red);
}

@mixin gradient-dark-red() {
  @include gradient(#bc2332, $dark-red);
}

@mixin gradient-grey() {
  @include gradient(#efefef, #d9d9d9);
}

@mixin gradient-dark-grey() {
  @include gradient(#727272, $dark-grey);
}

@mixin gradient-black() {
  @include gradient(#424242, #2a2a2a);
}

@mixin gradient-white() {
  @include gradient(#ffffff, #f5f5f5);
}

/* Global styles
    ========================================================================== */

* {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}
.hds {

  &-gradient {

    &__red {
      @include gradient(#f00c2e, $haefele-red);
    }

    &__dark-red {
      @include gradient(#bc2332, $dark-red);
    }

    &__grey {
      @include gradient(#efefef, #d9d9d9);
    }

    &__dark-grey {
      @include gradient(#727272, $dark-grey);
    }

    &__black {
      @include gradient(#424242, #2a2a2a);
    }

    &__white {
      @include gradient(#ffffff, #f5f5f5);
    }

  }


  /* Heading styles
    ========================================================================== */



  @mixin type-style($font-size, $line-height, $font-weight: normal) {
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    text-decoration: none;
  }

  @mixin text-link() {
    @include type-style(13px, normal);

    &:hover,
    &:active,
    &:focus {
      color: $haefele-red;
    }
  }

  &-heading {

    &__h1 {
      @include type-style(22px, 28px);

      /* Desktop */
      @media (min-width: 769px) {
        @include type-style(28px, 32px);
      }
    }

    &__h2 {
      @include type-style(18px, 24px);

      /* Desktop */
      @media (min-width: 769px) {
        @include type-style(20px, 24px);
      }
    }

    &__h3 {
      @include type-style(16px, 20px, bold);
    }

    &__h4 {
      @include type-style(16px, 20px);
    }
  }

  /* Copy styles
    ========================================================================== */

  &-copy {

    &__text {
      @include type-style(14px, 18px);
    }

    &__subline {
      @include type-style(12px, 16px);
    }

    &__seo {
      @include type-style(11px, 15px);
    }
  }

  /* Interface styles
    ========================================================================== */

  &-link {

    &__btn {
      @include type-style(15px, normal);

      &--bold {
        @include type-style(14px, normal, bold);
      }
    }

    &__text {
      @include type-style(13px, normal);
      color: $haefele-red;
      &:hover,
      &:active,
      &:focus {
        color: $dark-red;
        text-decoration: underline;
      }

      &--icon {
        color: $dark-grey;
        &:hover,
        &:active,
        &:focus {
          color: $haefele-red;
        }
      }
    }
    

  }

  /* Icons
    ========================================================================== */

  @mixin icon-style ($icon-name, $color: $dark-grey, $width: 20px, $height: $width, ) {
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: icon($icon-name, $color);
    width: $width;
    height: $height;
  }


&-icon {
  /* Sales */
  &__sales {
      @include icon-style(sales);
    &:hover {
      @include icon-style(sales, $dark-red);
    }

    &--small {
      @include icon-style(sales, $dark-grey, 16px);

      &:hover {
        @include icon-style(sales, $haefele-red, 16px);
      }
    }

    &--white {
      @include icon-style(sales, $white, 16px);

      &:hover {
        @include icon-style(sales, $white, 16px);
      }
    }
  }

  /* arrow-down-bold */
  &__arrow-down-bold {
    @include icon-style(arrow-down-bold);

    &:hover {
      @include icon-style(arrow-down-bold, $dark-red);
    }

    &--small {
      @include icon-style(arrow-down-bold, $dark-grey, 16px);

      &:hover {
        @include icon-style(arrow-down-bold, $haefele-red, 16px);
      }
    }
  }

  /* arrow-down-small */
  &__arrow-down-small {
    @include icon-style(arrow-down-small);

    &:hover {
      @include icon-style(arrow-down-small, $dark-red);
    }

    &--small {
      @include icon-style(arrow-down-small, $dark-grey, 16px);

      &:hover {
        @include icon-style(arrow-down-small, $haefele-red, 16px);
      }
    }
  }

  /* arrow-up-small */
  &__arrow-up-small {
    @include icon-style(arrow-up-small);

    &:hover {
      @include icon-style(arrow-up-small, $dark-red);
    }

    &--small {
      @include icon-style(arrow-up-small, $dark-grey, 16px);

      &:hover {
        @include icon-style(arrow-up-small, $haefele-red, 16px);
      }
    }
  }

  /* email */
  &__email {
    @include icon-style(email);

    &:hover {
      @include icon-style(email, $dark-red);
    }

    &--small {
      @include icon-style(email, $dark-grey, 16px);

      &:hover {
        @include icon-style(email, $haefele-red, 16px);
      }
    }
  }

  /* catalogue */
  &__catalogue {
    @include icon-style(catalogue);

    &:hover {
      @include icon-style(catalogue, $dark-red);
    }

    &--small {
      @include icon-style(catalogue, $dark-grey, 16px);

      &:hover {
        @include icon-style(catalogue, $haefele-red, 16px);
      }
    }
  }

  /* country */
  &__country {
    @include icon-style(country);

    &:hover {
      @include icon-style(country, $dark-red);
    }

    &--small {
      @include icon-style(country, $dark-grey, 16px);

      &:hover {
        @include icon-style(country, $haefele-red, 16px);
      }
    }
  }

  /* search */
  &__search {
    @include icon-style(search);

    &:hover {
      @include icon-style(search, $dark-red);
    }

    &--small {
      @include icon-style(search, $dark-grey, 16px);

      &:hover {
        @include icon-style(search, $haefele-red, 16px);
      }
    }
  }

  /* cart */
  &__cart {
    @include icon-style(cart);

    &:hover {
      @include icon-style(cart, $dark-red);
    }

    &--small {
      @include icon-style(cart, $dark-grey, 16px);

      &:hover {
        @include icon-style(cart, $haefele-red, 16px);
      }
    }
  }
  }


  /* Badges
    ========================================================================== */

    
    &-badge {

      /* Cart quantity indicator */
      &__cart-items {
        border-radius: 30px;
        line-height: 17px;
        width: auto;
        height: 15px;
        padding: 0px 4px;
        border: 1px solid $grey;
        background-color: $white;
        font-size: 12px;
        font-weight: bold;
        left: 27px;
        top: 3px;
        position: absolute;
      }
    }



   /* Branding
    ========================================================================== */

    &-logo {
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTUwcHgi%0D%0AIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAwIDE1MCAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0i%0D%0AaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9y%0D%0AZy8xOTk5L3hsaW5rIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggNTUuMiAoNzgxODEpIC0g%0D%0AaHR0cHM6Ly9za2V0Y2hhcHAuY29tIC0tPgogICAgPHRpdGxlPlByb3RvbnMvQnJhbmRpbmcvTG9n%0D%0AbzwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxnIGlk%0D%0APSLinLPvuI8tU3lzdGVtIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9u%0D%0AZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8ZyBpZD0iUHJvdG9ucyIgdHJhbnNmb3Jt%0D%0APSJ0cmFuc2xhdGUoLTM1MC4wMDAwMDAsIC01Mjk4LjAwMDAwMCkiPgogICAgICAgICAgICA8ZyBp%0D%0AZD0iQnJhbmRpbmciIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE1MC4wMDAwMDAsIDQ5ODEuMDAwMDAw%0D%0AKSI+CiAgICAgICAgICAgICAgICA8ZyBpZD0iUHJvdG9ucy9CcmFuZGluZy9Mb2dvIiB0cmFuc2Zv%0D%0Acm09InRyYW5zbGF0ZSgyMDAuMDAwMDAwLCAzMTcuMDAwMDAwKSI+CiAgICAgICAgICAgICAgICAg%0D%0AICAgPGcgaWQ9Ikdyb3VwLTkiPgogICAgICAgICAgICAgICAgICAgICAgICA8cG9seWdvbiBpZD0i%0D%0ARmlsbC0xIiBmaWxsPSIjRDIwQTI4IiBwb2ludHM9IjI4LjU5NTMxNzcgNi41IDM1LjExNzA1Njkg%0D%0ANi41IDM1LjExNzA1NjkgMCAyOC41OTUzMTc3IDAiPjwvcG9seWdvbj4KICAgICAgICAgICAgICAg%0D%0AICAgICAgICAgPHBvbHlnb24gaWQ9IkZpbGwtMiIgZmlsbD0iIzkzOTU5NyIgcG9pbnRzPSI2MC43%0D%0AMDIzNDExIDAgNjAuNzAyMzQxMSAyNCA2NS45MTQ1MjQzIDI0IDY1LjkxNDUyNDMgMTQuNDEzMzA4%0D%0ANCA3OC41MzUwNDA0IDE0LjQxMzMwODQgNzguNTM1MDQwNCA5LjYxMjMxMDI1IDY1LjkxNDUyNDMg%0D%0AOS42MTIzMTAyNSA2NS45MTQ1MjQzIDQuODAyOTk0MzkgODAuNzY5MjMwOCA0LjgwMjk5NDM5IDgw%0D%0ALjc2OTIzMDggMCI+PC9wb2x5Z29uPgogICAgICAgICAgICAgICAgICAgICAgICA8cG9seWdvbiBp%0D%0AZD0iRmlsbC0zIiBmaWxsPSIjRDIwQTI4IiBwb2ludHM9IjUwLjE2NzIyNDEgNi41IDU2LjY4ODk2%0D%0AMzIgNi41IDU2LjY4ODk2MzIgMCA1MC4xNjcyMjQxIDAiPjwvcG9seWdvbj4KICAgICAgICAgICAg%0D%0AICAgICAgICAgICAgPHBhdGggZD0iTTQwLjA5NTM0MDEsMCBMMjYuNTg4NjI4OCwyNCBMMzMuMDc3%0D%0AODE3MywyNCBMMzUuODk1MTY0MSwxOC45NDcxNDA4IEw0OC40NTI1MDkzLDE4Ljk0NzE0MDggTDUx%0D%0ALjMwNzgwNDYsMjQgTDU3LjY5MjMwNzcsMjQgTDQ0LjMyMTY4NzQsMCBMNDAuMDk1MzQwMSwwIFog%0D%0ATTQyLjIyNjAxNTksNi4yMTkwMDYwMyBMNDYuNjE1Mjc5OSwxNC4xOTMwNTQ3IEwzNy42NjU2NTY1%0D%0ALDE0LjE5MzA1NDcgTDQyLjIyNjAxNTksNi4yMTkwMDYwMyBaIiBpZD0iRmlsbC00IiBmaWxsPSIj%0D%0ARDIwQTI4Ij48L3BhdGg+CiAgICAgICAgICAgICAgICAgICAgICAgIDxwb2x5Z29uIGlkPSJGaWxs%0D%0ALTUiIGZpbGw9IiM5Mzk1OTciIHBvaW50cz0iMTA3Ljg1OTUzMiAwIDEwNy44NTk1MzIgMjQgMTI2%0D%0ALjkyMzA3NyAyNCAxMjYuOTIzMDc3IDE4Ljk3Mzc1NzUgMTEzLjE5OTUxNyAxOC45NzM3NTc1IDEx%0D%0AMy4xOTk1MTcgMCI+PC9wb2x5Z29uPgogICAgICAgICAgICAgICAgICAgICAgICA8cG9seWdvbiBp%0D%0AZD0iRmlsbC02IiBmaWxsPSIjOTM5NTk3IiBwb2ludHM9IjE5LjU4MzQ0MTQgMCAxOS41ODM0NDE0%0D%0AIDkuMjM0MzUyMjYgNi4wMDIxODI2MSA5LjIzNDM1MjI2IDYuMDAyMTgyNjEgMCAwIDAgMCAyNCA2%0D%0ALjAwMjE4MjYxIDI0IDYuMDAyMTgyNjEgMTQuNTk0NjM1MSAxOS41ODM0NDE0IDE0LjU5NDYzNTEg%0D%0AMTkuNTgzNDQxNCAyNCAyNS41ODUyODQzIDI0IDI1LjU4NTI4NDMgMCI+PC9wb2x5Z29uPgogICAg%0D%0AICAgICAgICAgICAgICAgICAgICA8cG9seWdvbiBpZD0iRmlsbC03IiBmaWxsPSIjOTM5NTk3IiBw%0D%0Ab2ludHM9Ijg0LjI4NTY1OTkgMCA4NC4yODA5MzY1IDI0IDEwNC4zNDMxMDMgMjQgMTA0LjM0MzEw%0D%0AMyAxOC45NzM3NTc1IDg5LjU4NzkxNjMgMTguOTczNzU3NSA4OS41ODc5MTYzIDE0LjQxMzMwODQg%0D%0AMTAyLjA2OTIyMyAxNC40MTMzMDg0IDEwMi4wNjkyMjMgOS42MTIzMTAyNSA4OS41ODc5MTYzIDku%0D%0ANjEyMzEwMjUgODkuNTg3OTE2MyA0LjgwMjk5NDM5IDEwNC4zNDc4MjYgNC44MDAzMzI3MSAxMDQu%0D%0AMzQ3NTExIDAiPjwvcG9seWdvbj4KICAgICAgICAgICAgICAgICAgICAgICAgPHBvbHlnb24gaWQ9%0D%0AIkZpbGwtOCIgZmlsbD0iIzkzOTU5NyIgcG9pbnRzPSIxMjkuOTMzMTEgMCAxMjkuOTMzMTEgMjQg%0D%0AMTUwIDI0IDE1MCAxOC45NzM3NTc1IDEzNS4yNDE1OSAxOC45NzM3NTc1IDEzNS4yNDE1OSAxNC40%0D%0AMTMzMDg0IDE0Ny43MjY3MzcgMTQuNDEzMzA4NCAxNDcuNzI2NzM3IDkuNjEyMzEwMjUgMTM1LjI0%0D%0AMTU5IDkuNjEyMzEwMjUgMTM1LjI0MTU5IDQuODAwMzMyNzEgMTUwIDQuODAwMzMyNzEgMTUwIDAi%0D%0APjwvcG9seWdvbj4KICAgICAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgICAgICA8L2c+%0D%0ACiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==);
      background-size: cover;
      width:150px;
      height:24px;
    }
  }

